.side-menu{
transform: translateX(-101%);
transition: all ease-out .3s;
}
.active{
  transform: translateX(0%);
}
.social{
  display: none;
}
@media screen and (min-width: 40em){
  .button-menu{
    display: none;
  }
  .social{
    display: flex;
  }

}

