<app-nav (openMenuNav)="toggleMenu($event)"></app-nav>
<div class="button-menu">
  <app-menu-button (openMenu)="toggleMenu($event)"></app-menu-button>
</div>
<div class="social">
  <app-socialmedia></app-socialmedia>
</div>
<div class="side-menu" [class.active]="activeMenu">
  <app-nav-menu (close)="toggleMenu($event)"></app-nav-menu>
</div>
<app-aboutme></app-aboutme>
<div class="side-menu" [class.active]="activeMenu">
  <app-side-menu-background></app-side-menu-background>
</div>
<app-portafolio></app-portafolio>
<div class="side-menu" [class.active]="activeMenu">
  <app-side-menu-background></app-side-menu-background>
</div>
<app-contact></app-contact>



