.show-mobile{
  display: block;
  width: 100vw;
  height: 50px;
  position: relative;
  background-color: hsl(224, 57%, 20%);
  box-shadow: 0.5px 0.5px 5px black;
}
.show-mobile > div{
  display:flex;
  justify-content: space-between;
  align-items: center;

}
.show-mobile > div, p{
  font-size: 1.6rem;
  color: white;
  margin-right: 1em;
}

.navegacion > ul{
  display: flex;
  align-items: flex-start;
  list-style: none;
}
.navegacion ul, li, a{
  font-size: 1.5rem;
  color: gray;
  text-decoration: none ;
}
.hide-mobile{
  display: none;
}
@media screen and (min-width: 40em){
  .show-mobile{
    display: none;
  }
  .hide-mobile{
    display: block;
    width: 100vw;
    height: 50px;
    position: relative;
    background-color: hsl(224, 57%, 20%);
    box-shadow: 0.5px 0.5px 5px black;
  }
  .hide-mobile > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hide-mobile > div :nth-child(1){
    padding-left: 2em;
  }
  .hide-mobile > div :nth-child(2){
    padding-right: 0.5em;
  }
  .hide-mobile > div :nth-child(3){
    padding-right: 1.5em;
  }
}







