<ul class="socialmedia-list">
  <li>
    <a class="github" href="https://github.com/F-DV">
      <img src="../../../assets/Github-Icon_icon-icons.com_52888.png">
    </a>
  </li>
  <li>
    <a class="linkedin" href="https://www.linkedin.com/in/felipe-quiceno-gomez-66a8791a0/">
      <img src="../../../assets/in_linked_linkedin_media_social_icon_124259.png">
    </a>
  </li>
  <li>
    <a class="twiter" href="https://twitter.com/QgFelipe">
      <img src="../../../assets/iconfinder-social-media-applications-6twitter-4102580_113802.png">
    </a>
  </li>
</ul>

